services:
  - type: web
    name: bcn-management
    env: docker
    plan: starter
    autoDeploy: true
    healthCheckPath: /app/login
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: SUPABASE_STORAGE_BUCKET
        sync: false
